[run]
omit=
    */env/*
    */venv/*
    */static/*
    */media/*
    */migrations/*
    */__init__.py
    */asgi.py
    */wsgi.py
    */apps.py
    */manage.py
    */manage_dev.py
    */settings.py
    */settings_dev.py
    */tests.py